{% extends 'base.html.twig' %}

{% block content %} 

        
<!-- Single button -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   BackEnd del Sistema <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="{{ path('organismo') }}" >Entidades</a></li>
    <li><a href="{{ path('tematica_index') }}">Temáticas</a></li>
    
    <li role="separator" class="divider"></li>
    <li><a href="#">Usuarios del sistema</a></li>
  </ul>
</div>


<h6><a href="{{ path('new') }}">Validarse para usar</a> </h6>
                 
{% endblock %}