{% extends 'base.html.twig' %}

{% block content %} 

  

<div class="row">
  <div class="col-sm-6 col-md-8">
    <div class="thumbnail">
       <div class="caption">
        <h4>Administración</h4>
        <p><h6>Módulo de administración de tablas auxiliares que utiliza el aplicativo</h6></p>
        <p>
        <a href="{{ path('organismo') }}" class="btn btn-default" role="button">Organismos</a> 
        <a href="{{ path('tematica_index') }}" class="btn btn-default" role="button">Tematicas</a>
        <a href="{{ path('user_index') }}" class="btn btn-default" role="button">Usuarios</a>
        <a href="#" class="btn btn-default" role="button">Roles</a>
        <a href="#" class="btn btn-default" role="button">Estructuras datos</a>
        </p>
      </div>
    </div>
  </div>
</div>   	
{% endblock %}