{% extends 'base.html.twig' %}

{% block content %}

	<div class="row">
		<div class="col-xs-4">
		
		</div>
		<div class="col-xs-4">
			<h3>Consulta Publica</h3>

    		{{ form(form) }} 
		</div>
		<div class="col-xs-4">
			
		</div>
		
	</div>
  

{% endblock %}