{% extends 'base.html.twig' %}

{% block content %} 

         <h3 class="title">BackEnd del Sistema</h3>
        

                <p>
                  <a href="{{ path('new') }}">Validarse para acceder</a> 
                </p> 
                 
{% endblock %}
          
       